
.body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333333;
}
.page{
    margin: 0;
    padding: 0;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    height: 15%;
    /*background-color: #f8cc9dd9;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s linear;
}
.size{
    height: 100vh;
    width: 100%;
}
.sticky{
    height: 8%;
}

/*____Navbar____*/
.logo{
    height: 100%;
    padding: 12px;
}
.logo-img{
    height: 100%;
}
.logo-img-small{
    max-height: 78px;
}
.nav{
    font-size: 14px;
    text-transform: uppercase;
}
.nav-link{
    color: #ffffff;
    text-decoration: none;
    transition: color .2s linear;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    vertical-align: top;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
}
.nav-link:after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #b87709;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
}
.nav-link:hover:after{
    transition: opacity .2s linear;
    opacity: 1;
}
.nav-link:not(:hover):after{
    transition: opacity .2s linear;
    opacity: 0;
}
.nav-link:hover{
    color: #b87709;
}


/*langchange*/
.lang-change{
    margin-right: 2%;
    right: 110px;
    max-height: 60px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 121, 0, 0);
}
.current-lang svg{
    margin: 10px 5px;
    border-radius: 50px;
}
.lang-change:hover .lang-change-window{
    opacity: 1;
    visibility: visible;
    transition: .5s;
}
.lang-change:hover .dropdown-arrow{
    transform: rotate(90deg);
    transition: .5s;
}
.lang-change:not(:hover) .dropdown-arrow{
    transform: rotate(-90deg);
    transition: .5s;
}
.lang-change:not(:hover) .lang-change-window{
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.lang-change-window{
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-shadow: grey 2px 2px 7px 0;
}
.lang-change-flex{
    /*border: 2px solid #ff7900;*/
    min-height: 60px;
    min-width: 80px;
    margin: auto auto;
    display: flex;
    flex-direction: row;
}
.svg-lang{
    cursor: pointer;
    background-color: transparent;
    border: none;
    max-width: 80px;
    display: flex;
    flex-direction: row;
}
.svg-lang svg{
    border-radius: 50px;
    margin: 5px;
}
.dropdown-arrow{
    color: white;
    margin: auto auto;
}
.dropdown-arrow:after{
    content: '\25ba';
}
.lang-change-window{
    max-width: 80px;
    opacity: 0;
    visibility: hidden;
}

/*____Intro____*/
.intro-background{
    background-image: url("prevju2.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.intro{
    /*background-color: #deb373;*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-text{
    z-index: 3;
    width: auto;
    height: auto;
    /*margin: auto auto;*/
    text-align: center;
    margin-bottom: 60px;

    /*background-color: #ffffff8f;
    border: 1px solid black;
    border-radius: 33px;
    box-shadow: 4px 10px 10px rgb(118 118 118 / 57%);*/
    padding-bottom: 20px;
    padding-top: 10px;
}
.intro-text span{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    color: #ffffff;
}
.shop{
    z-index: 3;
    width: 250px;
    height: 90px;
    background-color: white;
    border: #ffecd1;
    border-radius: 100px;
    outline: none;
    box-shadow: 4px 10px 10px rgba(118, 118, 118, 0.57);
}
.shop:hover{
    box-shadow: 1px 2px 10px rgba(78, 78, 78, 0.57);
    background-color: #ffecd1;
    transition: .3s;
}
.shop:not(:hover){
    background-color: white;
    transition: .3s;
}
.shop span{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #886c44;
}

/*____About____*/
.about{
    display: flex;
    background-color: #ffecd1;
    /*background-image: url("cookies-2.jpg");*/
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
}
.about img{
    object-fit: scale-down;
    width: 40%;
}
.text-about{
    width: 40%;
    font-family: 'Montserrat', sans-serif;
    margin: auto 10%;
}
.text-about h1{
    font-size: 55px;
}
.text-about h2{
    font-size: 30px;
}

/*____Cookies____*/
.cookies{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cookie-type-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.header-space{
    min-height: 80px;
}
.cookie-type-row button{
    background: none;
    border: none;
    outline: none;
}
.cookie-type{
    margin: 15px;
    padding: 0;
}
.cookie-type img{
    width: 400px;
    border-radius: 200px;
}
.cookie-type img:hover{
    cursor: pointer;
    box-shadow: 20px 20px 50px 10px #decbcb;
}

.cookies-box{
    height: 90%;
    width: 40%;
}

/*pop-up windows*/
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 40px;
    width: 800px;
    height: 800px;
}
.close{
    position: absolute;
    right: 2%;
    top: 2%;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer ;
    text-align: center;
}
.close:hover{
    transform: rotate(90deg);
    transition: .5s;
}
.close:not(:hover){
    transform: rotate(-90deg);
    transition: .5s;
}
.modal-content-box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.modal-content-box-img{
    margin: 10% 4%;
    width: 300px;
    height: 300px;
    border-radius: 200px;
}
.description{
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 1.6;
    color: #333333;
    margin-left: 5%;

}
.ingredients{
    margin-top: 10%;
    margin-left: 5%;
}
.header-ingredients{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 1.6;
    color: #333333;
}
.list-ingredients{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 1.6;
    color: #333333;
}
.break {
    flex-basis: 100%;
    height: 0;
}

/*____Order____*/
.order{
    background-color: #e8c9ac;
    display: flex;
    flex-direction: row;
}
.order-left{
    width: 40%;
    display: flex;
}
.order-mid{
    width: 20%;
    height: 100vh;
    display: flex;
}
.vl {
    height: 60%;
    width: 2px;
    margin: auto auto;
    background-color: #bfbfbf;
}
.order-right{
    width: 40%;
    display: flex;
}
.order-textareas {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}
select{
    margin: 20px 0 !important;
    resize: none;
    height: 55px;
    width: 80%;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 30px !important;
}
textarea {
    margin: 20px 0 !important;
    resize: none;
    height: 55px;
    width: 80%;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 30px !important;
}

/*____Delivery____*/
.delivery{
    background-color: #ffecd1;
    display: flex;
    flex-direction: column;
}
.delivery-text{
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    line-height: 1.6;
}
.map{
    width: 45%;
}
.map img{
    width: 100%;
}
.map-box{
    display: flex;
    flex-direction: row;
}
.text-box{
    margin: 5vh auto;
}
.header-prices{
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
}
.list-prices{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    line-height: 1.6;
}

/*____Contact____*/
.contact{
    display: flex;
    flex-direction: column;
}
.map-interactive{
    height: calc(100vh - 80px);
    width: 50%;
}
.mapouter{
    position:relative;
    text-align:right;
    height:600px;
    width:600px;
    transform: translateY(-50%);
    left: 10%;
    top: 50%
}
.gmap_canvas{
    overflow:hidden;
    background:none!important;
    height:600px;
    width:600px;
}
.map-text{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.map-text-content{
    margin: auto auto;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

/*____Footer____*/
.footer{
    height: 140px;
    background-color: white;
    text-align: center;
    margin-top: 40px;
}




/*_____Footer Buttons_____*/
hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border-top: 1px solid #e0e0e0;
}
button.soc-link {
    border-radius: 10px;
    background: transparent;
    border: transparent;
    margin: auto auto;
}
button.soc-link:hover {
    background: #eeeeee;
    fill: #6f5b5b;
    transition: .3s;
}
button.soc-link:not(:hover) {
    transition: .3s;
}
